.container {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}
.container header {
    border-bottom: 1px solid #eaeaea;
    background: #fafafa;
    padding: 1rem;
}
.container header input[type="text"] {
    width: 70%;
}
.container .repo_cont {
    /* padding: 0 1em; */
}
